.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 25px 0;
  text-align: center;
  gap: 15px;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

.form__title {
  font-size: var(--size-title);
  color: var(--text-white);
  margin: 0;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
}

.form__input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  font-size: 12px;
  color: var(--text-white);
  margin: 0;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
  padding-bottom: 5px;
}

.form__input {
  width: 350px;
  border: 1px solid var(--select-border);
  border-radius: 10px;
  padding: 8px 8px;
  font-size: var(--size-text-small);
  color: var(--text-gray);
  background-image: linear-gradient(to top, var(--bg-light), #fff 33%);
  filter: drop-shadow(0 2px 4px var(--primary-dark));
}

.form__input::placeholder {
  color: var(--select-border);
  font-size: var(--size-text-small);
}

.form__select {
  width: 350px;
  font-size: var(--size-text-small);
  color: var(--select-border);
  border: 1px solid var(--select-border);
  border-radius: 10px;
  padding: 4px 4px;
  cursor: pointer;
  outline: none;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
}

.form__select:focus {
  border: 1px solid var(--primary-light);
  color: var(--text-gray);
}

.form__select option:not(:first-of-type) {
  color: var(--text-gray);
}
