.hero {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 998;
  background: linear-gradient(
    to top right,
    rgba(38, 208, 206, 0.5) 10%,
    rgba(26, 41, 128, 0.8) 60%
  );
  width: 95%;
  border-radius: 50px 0;
  position: absolute;
  top: 15px;
}

.hero .hero__content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  color: var(--text-white);
  filter: drop-shadow(2px 2px 2px var(--primary-dark));
  padding-top: 60px;
}

.hero__title {
  font-size: 54px;
  margin: 0;
}

.hero__description {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5;
  margin: 0;
  filter: drop-shadow(1px 1px 0px var(--primary-dark));
}

.hero__subtitle {
  width: 70%;
  margin: auto;
  padding: 10px 0;
}

.hero__button {
  font-size: 18px;
  font-weight: bold;
  width: 40%;
  height: 32px;
  background-color: var(--primary-accent);
  color: var(--text-black);
  border-radius: 20px 20px;
  border: 0;
  margin: auto;
  transition: all 0.2s;
}

.hero__button:hover {
  translate: 0 -7%;
  background-color: var(--primary-dark);
  color: var(--text-white);
}

@media screen and (min-width: 768px) {
  .hero {
    top: 25px;
  }

  .hero__content {
    width: 80%;
    padding-top: 0;
  }

  .hero__title {
    font-size: 68px;
  }

  .hero__description {
    font-size: 24px;
  }

  .hero .hero__content {
    width: 50%;
    gap: 10px;
  }
}
