.header {
  max-width: 1600px;
  display: flex;
  position: relative;
  z-index: 999;
  padding: 0 50px;
  margin: auto;
  top: 75px;
}

.header__logo {
  width: 125px;
  height: 100%;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
  transition: all 0.6s;
}

.header__logo:hover {
  translate: 0 -20%;
  filter: drop-shadow(0px 2px 0px var(--primary-accent));
}
