.form__input {
  width: 48%;
  display: flex;
  flex-direction: column;
}

.form__input_full-width {
  width: 100%;
}

.form__label {
  font-size: 12px;
  color: var(--text-white);
  margin: 0;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
  padding-bottom: 10px;
}

.form__input-element {
  border: 1px solid var(--select-border);
  border-radius: 10px;
  padding: 8px 8px;
  font-size: var(--size-text-small);
  color: var(--text-gray);
  background-image: linear-gradient(to top, var(--bg-light), #fff 33%);
  filter: drop-shadow(0 2px 4px var(--primary-dark));
}

.form__input::placeholder {
  color: var(--select-border);
  font-size: var(--size-text-small);
}
