.suggested {
  max-width: 1600px;
  width: 90%;
  margin: auto;
  padding-top: var(--separator);
}

.suggested__header {
  margin: auto;
  display: flex;
}

.suggested__section-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-dark);
  margin: 0;
  grid-row: 0 1;
}

.suggested__title {
  font-weight: 600;
  font-size: var(--size-section-title);
  margin: 0;
}

.suggested__filter-container {
  display: flex;
  gap: 5px;
  margin-left: auto;
}
.suggested__filter-btn {
  font-size: var(--size-text-small);
  font-weight: 400;
  height: 40px;
  width: 125px;
  text-align: center;
  background-color: var(--primary-dark);
  color: var(--text-white);
  border: 0;
  border-radius: 20px;
  transition: all 0.2s;
}

.suggested__filter-btn:hover {
  cursor: pointer;
  translate: 0 -20%;
  background-color: var(--primary-accent);
  color: var(--text-black);
}

.suggested__position-btn {
  width: 40px;
  height: 40px;
  background-color: var(--primary-dark);
  color: var(--text-white);
  border-radius: 20px 5px 5px 20px;
  transition: all 0.2s;
  border: 0;
}

.suggested__position-btn:nth-of-type(8) {
  border-radius: 5px 20px 20px 5px;
}

.suggested__position-btn:hover {
  cursor: pointer;
  translate: 0 -20%;
  background-color: var(--primary-accent);
  color: var(--text-black);
}

.suggested__card-container {
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}
