.suggested {
  max-width: 1600px;
  width: 90%;
  margin: auto;
  padding-top: var(--separator);
}

.suggested__header {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.suggested__section-name {
  font-weight: 600;
  font-size: 16px;
  color: var(--primary-dark);
  margin: 0;
  grid-row: 0 1;
}

.suggested__title {
  font-weight: 600;
  font-size: var(--size-section-title);
  margin: 0;
}

.suggested__filter-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  gap: 5px;
}

@media screen and (min-width: 768px) {
  .suggested__filter-container {
    justify-content: end;
  }
}

.suggested__list {
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  transition: all 0.6s;
  justify-content: center;
  /* opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease; */
}

/* .suggested__list_visible {
  opacity: 1;
  transform: translateY(0);
} */
