.map-container {
  z-index: -1;
}

.leaflet-popup-content {
  font-size: var(--size-text-small);
  line-height: 1.5;
  text-align: center;
}

.leaflet-popup-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #999;
  border-radius: 50%;
  padding: 3px 6px;
  cursor: pointer;
  text-align: center;
  font-size: var(--size-text);
  line-height: 1;
  margin: 4px;
}

.leaflet-top {
  z-index: 400;
  top: 20%;
  left: 10px;
}

.leaflet-popup-content {
  width: 550px !important;
}

.popup__add-form .leaflet-popup-content-wrapper {
  background: linear-gradient(
      to top right,
      rgba(3, 64, 120, 0.5) 10%,
      rgba(3, 64, 120, 0.8) 60%
    ),
    url(../../images/form__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
}

.popup__add-form .leaflet-popup-close-button {
  color: var(--text-white) !important;
}

.popup-worker .leaflet-popup-content-wrapper {
  padding: 20px;
  color: var(--text-white);
  background: linear-gradient(
      to top right,
      rgba(3, 64, 120, 0.5) 10%,
      rgba(3, 64, 120, 0.8) 60%
    ),
    url(../../images/form__background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  filter: drop-shadow(0 4px 2px rgba(0, 0, 0, 0.25));
  max-height: 500px;
  overflow-y: scroll;
}

.popup-worker .leaflet-popup-close-button {
  color: var(--text-white) !important;
  left: 10px;
}

.popup-worker__title {
  font-size: var(--size-text);
  color: var(--text-white);
  margin: 0;
  filter: drop-shadow(0 2px 4px var(--primary-dark));
}

.popup-worker__info {
  font-size: var(--size-text-small);
  text-align: left;
  line-height: 1.5;
  padding-bottom: 20px;
}

.leaflet-bottom {
  display: none;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 50px 0;
  position: absolute;
}

@media screen and (min-width: 768px) {
  .leaflet-container {
    width: 100%;
  }
}
